/* Main container */
.header-container {
    display: flex;
    min-height: 100px;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #288042c9;
    box-shadow: 0 4px 6px rgba(91, 91, 91, 0.1);
    font-family:Gilroy, sans-serif;
  }
  
  /* Logo container */
  .logo-container {
    display: flex;
    align-items: center;
  }
  
  .logo {
    width: 50px;
    height: auto;
  }
  
  .site-name {
    font-size: 24px;
    font-weight: bold;
    margin-left: 10px;
    color: #333;
  }
  
  /* Search bar */
  .search-bar-container {
    flex: 1;
    margin-left: 150px;
    display: flex;
    justify-content: center;
    align-items: center; /* Align items vertically */
    position: relative;
    font-family:Gilroy, sans-serif;
    /* color: #333; */
    
  }
  
  .search-input {
    width: 360px;
    padding: 10px; /* Adjust padding for input */
    border-radius: 25px 0 0 25px; /* Rounded corners on the left */
    border: 1px solid #dddddd00;
    font-size: 15px;
    
    outline: none;
    box-sizing: border-box; /* Include padding in width */
    /* font-family:Gilroy, sans-serif; */
    background-color: #feffe0;
    background-color: #282a35;
    color: #feffe0;
  }
  
  .search-btn {
    /* background-color: #265a28; */
    background-color: #282a35;
    border: none;
    margin-right: 150px;
    color: white;
    padding: 10px 15px;
    border-radius: 0 25px 25px 0; /* Rounded corners on the right */
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 50%; /* Vertically center the button */
    transform: translateY(-50%); /* Adjust for perfect centering */
  }
  
  .search-btn i {
    font-size: 15px;
    max-height: 10px;
  }
  
  /* Right buttons (Cart, Login, Signup) */
  .right-buttons {
    display: flex;
    align-items: center;
    gap: 13px;
  }
  
  .cart-btn,
  .auth-btn,
  .login-btn,
  .signup-btn {
    background-color: transparent;
    border: none;
    font-size: 16px;
    cursor: pointer;
    color: #333;
  }
  
  .cart-btn {
    display: flex;
    align-items: center;
    font-weight: bold;
  }
  
  .cart-btn i {
    margin-right: 5px;
    font-size: 18px;
  }
  
  .auth-btn {
    font-weight: bold;
    padding: 10px 15px;
    background-color: transparent;
  }
  
  /* .login-btn {
    background-color: #282a35;
    color: white;
    border-radius: 25px;
    
  } */
  
  /* .signup-btn {
    background-color: #282a35;
    color: white;
    border-radius: 25px;
  } */
  
  .auth-btn:hover {
    opacity: 0.9;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .header-container {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .search-bar-container {
      width: 100%;
    }
  
    .search-input {
      width: 100%;
    }
  
    .right-buttons {
      justify-content: flex-end;
      width: 100%;
      margin-top: 10px;
    }
  }
  

  