<header class="header-container">

  <!-- <div class="logo-container">
    <img src="path/to/your/logo.png" alt="Logo" class="logo" /> Replace with the actual path to your logo image 
  </div> -->
  
  <!-- Center: Search Bar -->
  <div class="search-bar-container">
    <input type="text" placeholder="Search for products..." class="search-input" />
    <button  class="search-btn">
      <i class="fa fa-search"></i>
    </button>
  </div>

  <!-- Right: Cart and Auth Buttons -->
  <div class="right-buttons">


    <button  class="auth-btn login-btn" (click)="goToHome()">Home</button>

    <button class="cart-btn" (click)="goToCart()">
      <i class="fa fa-shopping-cart"></i> Cart ({{ cartItemCount }}) <!-- Updated cart count -->
    </button>

    <!-- Conditionally show Login and Signup buttons if user is not logged in -->
    <button *ngIf="!isLoggedIn" class="auth-btn login-btn" (click)="goToLogin()">Login</button>
    <button *ngIf="!isLoggedIn" class="auth-btn signup-btn" >Signup</button>

    <!-- Conditionally show Logout button if user is logged in -->
    <button *ngIf="isLoggedIn" class="auth-btn logout-btn" (click)="viewMyOrders()">Orders</button>
    <button *ngIf="isLoggedIn" class="auth-btn logout-btn" (click)="logout()">Logout</button>

  </div>
</header>
