<div class="login-container">
  <mat-card class="login-card">
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form class="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        
        
        <!-- Email Input Field -->
        <mat-form-field appearance="outline" class="login-input">
          <mat-label>Email</mat-label>
          <input matInput type="email" formControlName="email" placeholder="Enter your email" />
          <mat-error *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
            Invalid email address
          </mat-error>
        </mat-form-field>

        <!-- Password Input Field -->
        <mat-form-field appearance="outline" class="login-input">
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="password" placeholder="Enter your password" />
          <mat-error *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
            Password is required
          </mat-error>
        </mat-form-field>

        <!-- Login Button -->
        <button mat-raised-button color="primary" class="login-btn" type="submit">Login</button>
      </form>
    </mat-card-content>
    
    <!-- Additional Actions -->
    <mat-card-actions class="login-actions">
      <button mat-button color="accent">Forgot Password?</button>
      <button mat-button color="warn">Sign up</button>
    </mat-card-actions>
  </mat-card>
</div>
